{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}


{% block body %}
    <!-- Header -->
    <header id="header" class="preview">
        <div class="inner">
            <div class="content">
                <h1><img class="logo" src="{{ asset('img/logo-ombu-editions-blanc.png') }}" alt="Ombú éditions" /></h1>
                <h2>Contact</h2>
            </div>
            <a href="{{ path('home') }}" class="button hidden"><span>Accueil</span></a>
        </div>
    </header>

    <!-- Main -->
    <div id="preview" class="vertical">
        <div class="inner">
            <div class="image fit">
                <img src="" alt="" />
            </div>
            <div class="content">

                {% for message in app.flashes('success') %}
                <div class="ui success message">
                    {{ message }}
                </div>
                {% endfor %}

                {% if not form.vars.valid %}
                    <div class="ui error message">
                        <p>Veuillez vérifier que les champs du formulaire soient bien remplis !</p>
                    </div>
                {% endif %}

                {{ form_start(form, { 'attr': {'class': 'ui form'} }) }}

                <div class="field">
                    {{ form_row(form.firstname) }}
                </div>
                <div class="field">
                    {{ form_row(form.lastname) }}
                </div>
                <div class="field">
                    {{ form_row(form.phone) }}
                </div>
                <div class="field">
                    {{ form_row(form.email) }}
                </div>
                <div class="field">
                    {{ form_row(form.message) }}
                </div>

                <button class="ui button" type="submit">Envoyer</button>


                {{ form_end(form) }}


            </div>
        </div>
    </div>
{% endblock %}

