{% extends 'baseadmin.html.twig' %}

{% block body %}

    <div class="mt-4">
        <h2>Publications</h2>

        {% for message in app.flashes('success') %}

            <div class="alert alert-success">{{ message }}</div>

        {% endfor %}

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for livre in livres %}
                <tr>
                    <td>{{ livre.title }}</td>
                    <td>
                        <a href="{{ path('livre.edit', {id: livre.id}) }}" class="btn btn-secondary">Editer</a>
                        <form method="post" action="{{ path('livre.delete', {id: livre.id}) }}" style="display: inline-block">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ livre.id) }}">

                            <button class="btn btn-danger">Suprimer</button>
                            <div class="form-group" style="display: inline-block">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" required>
                                </div>
                            </div>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="text-right">
            <a href="{{ path('livre.new') }}" class="btn btn-primary">Ajouter un livre</a>
        </div>
    </div>


{% endblock %}